*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#nav{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    padding: 30px 50px; 
    margin-top: 0px;
}
#part2{
    display: flex;
    gap: 50px;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    color: white;
    white-space: nowrap;
}